/*variables css*/
@font-face {
    font-family: 'PoliceTitrePrincipal';
    src: url('polices/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Policebody', sans-serif;
    src: url('polices/Lato/Lato-Bold.ttf');
}


:root{
    --colorback: rgb(0, 0, 0);
    --colorback1: rgb(255, 255, 255);
    --colorback2: rgb(239, 239, 239);
    --color: rgb(0, 0, 0);
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 255);
    --color3: rgb(224, 224, 224);
    --font-family-PoliceTitrePrincipal: 'PoliceTitrePrincipal', sans-serif;
    --font-family-Policebody: 'Policebody', sans-serif;

  
}
.animate__animated{animation-duration: 5s;}
/*Ecran extra small devices (portrait phone, Less than 576px)*/
@media(max-width: 575.98px){
    *{background-color: var(--colorback1); margin: 0; padding: 0;}
    *::-webkit-scrollbar{width: 1px;}
    @-moz-document url-prefix(){
       html{
            overflow-y: auto;
            overflow-x: auto;
            scrollbar-width: thin;
            }
        }
    .bloc-image{background: transparent; width: 70%; height: 70%; margin-left: 14%; margin-top: 12%;}
    .logo-startup{background: transparent; width: 100%; height: 100%;}
    .name-startup{background: transparent; color: var(--color); text-align: center; font-family: var(--font-family-PoliceTitrePrincipal);
         font-size: 80px;}
    .description{background: transparent; font-size: 50px; font-weight: bold; color: var(--color); text-align: center;}
    .version{background: transparent; font-size: 22px; font-weight: bold; color: var(--color2); text-align: center; margin-top: 5%;}
 

}

/*Ecran small devices (landscape phone, 576px and up)*/
@media(min-width: 576px) and (max-width: 767.98px){
    *{background-color: var(--color1); margin: 0; padding: 0;}
    *::-webkit-scrollbar{width: 1px;}
    @-moz-document url-prefix(){
       html{
            overflow-y: auto;
            overflow-x: auto;
            scrollbar-width: thin;
            }
        }
        .bloc-image{background: transparent; width: 70%; height: 70%; margin-left: 15%; margin-top: 12%;}
        .logo-startup{background: transparent; width: 100%; height: 100%;}
        .name-startup{background: transparent; color: var(--color); text-align: center; font-family: var(--font-family-PoliceTitrePrincipal);
             font-size: 80px;}
        .description{background: transparent; font-size: 50px; font-weight: bold; color: var(--color); text-align: center;}
        .version{background: transparent; font-size: 22px; font-weight: bold; color: var(--color); text-align: center; margin-top: 9%;}
    

    
}

/*Ecran medium devices (tablets, 768px and up)*/
@media(min-width: 768px) and (max-width: 991.98px){
    *{background-color: var(--color1); margin: 0; padding: 0;}
    *::-webkit-scrollbar{width: 1px;}
    @-moz-document url-prefix(){
       html{
            overflow-y: auto;
            overflow-x: auto;
            scrollbar-width: thin;
            }
        }
        .bloc-image{background: transparent; width: 70%; height: 70%; margin-left: 15%; margin-top: 10%;}
        .logo-startup{background: transparent; width: 100%; height: 100%;}
        .name-startup{background: transparent; color: var(--color); text-align: center; font-family: var(--font-family-PoliceTitrePrincipal);
             font-size: 80px;}
        .description{background: transparent; font-size: 50px; font-weight: bold; color: var(--color); text-align: center;}
        .version{background: transparent; font-size: 22px; font-weight: bold; color: var(--color); text-align: center; margin-top: 8%;}
    
}

/*Ecran large devices (desktops, 992px and up)*/
@media(min-width: 992px) and (max-width: 1199.98px){
    *{background-color: var(--color1); margin: 0; padding: 0;}
    *::-webkit-scrollbar{width: 1px;}
    @-moz-document url-prefix(){
       html{
            overflow-y: auto;
            overflow-x: auto;
            scrollbar-width: thin;
            }
        }
        .bloc-image{background: transparent; width: 70%; height: 70%; margin-left: 15%; margin-top: 5%;}
        .logo-startup{background: transparent; width: 100%; height: 100%;}
        .name-startup{background: transparent; color: var(--color); text-align: center; font-family: var(--font-family-PoliceTitrePrincipal);
             font-size: 80px;}
        .description{background: transparent; font-size: 50px; font-weight: bold; color: var(--color); text-align: center;}
        .version{background: transparent; font-size: 22px; font-weight: bold; color: var(--color); text-align: center; margin-top: 4%;}
    
}

/*Ecran extra large devices (landscape phone, 1200px and up)*/
@media(min-width: 1200px){
    *{background-color: var(--color1); margin: 0; padding: 0;}
    *::-webkit-scrollbar{width: 1px;}
    @-moz-document url-prefix(){
       html{
            overflow-y: auto;
            overflow-x: auto;
            scrollbar-width: thin;
            }
        }
        .bloc-image{background: transparent; width: 70%; height: 70%; margin-left: 15%; margin-top: 5%;}
        .logo-startup{background: transparent; width: 100%; height: 100%;}
        .name-startup{background: transparent; color: var(--color); text-align: center; font-family: var(--font-family-PoliceTitrePrincipal);
             font-size: 80px;}
        .description{background: transparent; font-size: 50px; font-weight: bold; color: var(--color); text-align: center;}
        .version{background: transparent; font-size: 22px; font-weight: bold; color: var(--color); text-align: center; margin-top: 5%;}
    
}